<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>@ViewData["Title"] - LukicharmsWeb</title>

    <!-- Loading animation -->
    <script src="~/js/pace.min.js"></script>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        @*<link rel="stylesheet" href="~/css/site.css" />*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
       @* <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>

    <!-- CSS sheets for all stages -->
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="~/css/ripples.min.css" rel="stylesheet">
    <link href="~/css/material-scrolltop.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/material-blog.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">LukicharmsWeb</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>*@

    <div class="navbar navbar-material-blog navbar-info navbar-absolute-top navbar-overlay">
        <div class="navbar-image" style="background-image: url('../img/unsplash-1.jpg');background-position: center 30%;"></div>
        <div class="navbar-wrapper container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="material-icons">&#xE871;</i> LukiCharms</a>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="" asp-action="">3D Printing</a></li>
                    <li>
                        <a asp-area="" asp-controller="" asp-action="">Electronics</a>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container blog-content">
        <div class="row">

            @RenderBody()

            @if (ViewData["Title"].ToString() != "Error")
            {
                <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
                    <div class="sidebar-module">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </div><!-- /.sidebar-module -->
                    <div class="sidebar-module">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>About</h4>
                                <p>Donec ut libero sed arcu vehicula ultricies a non tortor. <em>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</em> Aenean ut gravida lorem.</p>
                            </div>
                        </div>
                    </div><!-- /.sidebar-module -->
                    <div class="sidebar-module">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Categories</h4>
                                <ol class="categories list-unstyled">
                                    <li>
                                        <a class="label label-light label-success" href="filter-category.html">Australia</a>
                                        <span class="label label-light label-default pull-right">8</span>
                                    </li>
                                    <li>
                                        <a class="label label-light label-warning" href="filter-category.html">Europe</a>
                                        <span class="label label-light label-default pull-right">5</span>
                                    </li>
                                    <li>
                                        <a class="label label-light label-primary" href="filter-category.html">Tips</a>
                                        <span class="label label-light label-default pull-right">9</span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.sidebar-module -->
                    <div class="sidebar-module">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Archives</h4>
                                <ol class="list-unstyled">
                                    <li><a href="filter-date.html">February 2016</a></li>
                                    <li><a href="filter-date.html">January 2016</a></li>
                                    <li><a href="filter-date.html">December 2015</a></li>
                                    <li><a href="filter-date.html">November 2015</a></li>
                                    <li><a href="filter-date.html">October 2015</a></li>
                                    <li><a href="filter-date.html">September 2015</a></li>
                                    <li><a href="filter-date.html">August 2015</a></li>
                                    <li><a href="filter-date.html">July 2015</a></li>
                                    <li><a href="filter-date.html">June 2015</a></li>
                                    <li><a href="filter-date.html">May 2015</a></li>
                                    <li><a href="filter-date.html">April 2015</a></li>
                                    <li><a href="filter-date.html">March 2015</a></li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.sidebar-module -->
                    <div class="sidebar-module">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Newsletter</h4>
                                <div class="form-group label-floating">
                                    <label class="control-label" for="name">Name</label>
                                    <input type="text" id="name" class="form-control input-sm">
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label" for="email">E-mail</label>
                                    <input type="text" id="email" class="form-control input-sm">
                                </div>
                                <a href="#" class="btn btn-default btn-raised btn-sm btn-block">Subscribe</a>
                            </div>
                        </div>
                    </div><!-- /.sidebar-module -->
                    <div class="sidebar-module">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4>Elsewhere</h4>
                                <ol class="list-unstyled">
                                    <li><a href="#">Facebook</a></li>
                                    <li><a href="#">Google+</a></li>
                                    <li><a href="#">Twitter</a></li>
                                </ol>
                            </div>
                        </div>
                    </div><!-- /.sidebar-module -->
                </div><!-- /.blog-sidebar -->
            }

        </div>

    </div><!-- /.container -->

    <footer class="blog-footer">
        <div id="links">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <i class="material-icons brand">&#xE871;</i>
                    </div>
                    <div class="col-sm-8 text-center offset">
                        <ul class="list-inline">
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md-2 text-right offset">
                        <ul class="list-inline">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <button class="material-scrolltop info" type="button"></button>

    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/ripples.min.js"></script>
    <script src="~/js/material.min.js"></script>
    <script src="~/js/material-scrolltop.js"></script>
    <script src="~/js/main.js"></script>
    <script>
      $.material.init();
      $('body').materialScrollTop();
    </script>

    @*<environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>*@

    @RenderSection("scripts", required: false)
</body>
</html>
