@{
    ViewData["Title"] = "Contact me";
}

<div class="col-sm-8 blog-main">
    <section class="blog-post">
        <div class="panel panel-default">
            @*<div id="map"></div>*@
            <div class="panel-body">
                <div class="blog-post-content">
                    <h2 class="blog-post-title">@ViewData["Title"]</h2>
                    <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>

                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group is-empty">
                                <label for="name" class="col-md-2 control-label">Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group is-empty">
                                <label for="email" class="col-md-2 control-label">Email</label>
                                <div class="col-md-10">
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group is-empty">
                                <label for="company" class="col-md-2 control-label">Company</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="company" placeholder="Company">
                                </div>
                            </div>
                            <div class="form-group is-empty">
                                <label for="message" class="col-md-2 control-label">Message</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="message" placeholder="Message">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10 col-md-offset-2">
                                    <a href="#" class="btn btn-primary">Send message</a>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- /.blog-post -->
</div><!-- /.blog-main -->





@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@
