@{
    ViewData["Title"] = "Home Page";
}

    <div class="col-sm-8 blog-main">
        <div class="row">
            <div class="col-sm-12">
                <section class="blog-post">
                    <div class="panel panel-default">
                        <img src="img/travel/unsplash-2.jpg" class="img-responsive" />
                        <div class="panel-body">
                            <div class="blog-post-meta">
                                <span class="label label-light label-success">Australia</span>
                                <p class="blog-post-date pull-right">February 16, 2016</p>
                            </div>
                            <div class="blog-post-content">
                                <a href="post-image.html">
                                    <h2 class="blog-post-title">Like a little drop of ink</h2>
                                </a>
                                <p>Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.</p>
                                <a class="btn btn-info" href="post-image.html">Read more</a>
                                <a class="blog-post-share pull-right" href="#">
                                    <i class="material-icons">&#xE80D;</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </section><!-- /.blog-post -->
                <section class="blog-post">
                    <div class="panel panel-default">
                        <img src="img/travel/unsplash-3.jpg" class="img-responsive" />
                        <div class="panel-body">
                            <div class="blog-post-meta">
                                <span class="label label-light label-success">Australia</span>
                                <p class="blog-post-date pull-right">Januari 9, 2016</p>
                            </div>
                            <div class="blog-post-content">
                                <a href="post-image.html">
                                    <h2 class="blog-post-title">I have arms for them</h2>
                                </a>
                                <p>Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.</p>
                                <a class="btn btn-info" href="post-image.html">Read more</a>
                                <a class="blog-post-share pull-right" href="#">
                                    <i class="material-icons">&#xE80D;</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </section><!-- /.blog-post -->
                <section class="blog-post">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="blog-post-meta">
                                <span class="label label-light label-primary">Tips</span>
                                <p class="blog-post-date pull-right">Februari 11, 2016</p>
                            </div>
                            <div class="blog-post-content">
                                <a href="post-image.html">
                                    <h2 class="blog-post-title">In a glass of water</h2>
                                </a>
                                <p>Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.</p>
                                <p>Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra.</p>
                                <a class="btn btn-info" href="post-image.html">Read more</a>
                                <a class="blog-post-share pull-right" href="#">
                                    <i class="material-icons">&#xE80D;</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </section><!-- /.blog-post -->
                <section class="blog-post">
                    <div class="panel panel-default">
                        <img src="img/travel/unsplash-4.jpg" class="img-responsive" />
                        <div class="panel-body">
                            <div class="blog-post-meta">
                                <span class="label label-light label-success">Australia</span>
                                <p class="blog-post-date pull-right">January 24, 2016</p>
                            </div>
                            <div class="blog-post-content">
                                <a href="post-image.html">
                                    <h2 class="blog-post-title">I glide and swan</h2>
                                </a>
                                <p>Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem.</p>
                                <a class="btn btn-info" href="post-image.html">Read more</a>
                                <a class="blog-post-share pull-right" href="#">
                                    <i class="material-icons">&#xE80D;</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </section><!-- /.blog-post -->
            </div>
        </div>
        <nav>
            <ul class="pager">
                <li><a class="withripple" href="#">Previous</a></li>
                <li><a class="withripple" href="#">Next</a></li>
            </ul>
        </nav>
    </div><!-- /.blog-main -->
